body{
    background: #90a3d1
}

label{
    font: arial;
    font-size: 20px;
    font-style: italic;
}

#banner{
    border: 5px solid #0d1e4a;
    width: 102%;
    height: 350px;
    display: inline-block;
    margin-left: -1%;
}


.lock{
    
    height: 20%;
    float: left;
    width: 20%;
}

.lock2{
    
    height: 20%;
    float: right;
    width: 20%;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.Encriptador{
    font-size: 50px;
    position: absolute;
    top: 13%;
    left: 56%;
}
.dtxt{
    position: absolute;
    top: 25%;
    left: 62%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.texto-general{
    text-align: center;
}